* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
  background-color: #f4f7f8;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chain-latest {
  .el-table__header-wrapper .el-table__header tr th {
    background-color: #fafafa;
  }
}

.chain-hf {
  height: 64px;
  background-color: rgba(0, 0, 0, 0.65);
}

.fr {
  float: right;
}

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.el-dialog__header {
  padding: 10px 12px;
  border-bottom: 1px solid rgb(250, 231, 231);
}

.el-dialog__footer {
  padding: 10px 12px;
  border-top: 1px solid rgb(250, 231, 231);
}
